In [50]:
from datetime import date
import yfinance as yf
import pandas as pd
import numpy as np

In [57]:
# Specify the stock symbol, from date, and to date
stock = 'ANUP.NS'
from_date = date(2024, 1, 1)
to_date = date.today()

In [61]:

data = yf.download(stock, start=from_date, end=to_date)

[*********************100%***********************]  1 of 1 completed

In [78]:
data

Price         Adj Close        Close  ... purchase number_of_stocks
Ticker          ANUP.NS      ANUP.NS  ...
Date                                  ...
2024-01-01  1345.895386  1349.625000  ...      NaN                1
2024-01-02  1330.163940  1333.849976  ...      NaN                2
2024-01-03  1350.657227  1354.400024  ...      NaN                3
2024-01-04  1350.931519  1354.675049  ...      NaN                4
2024-01-05  1350.482666  1354.224976  ...      NaN                5
...                 ...          ...  ...      ...              ...
2024-11-19  3413.850098  3413.850098  ...      NaN              218
2024-11-21  3488.350098  3488.350098  ...      NaN              219
2024-11-22  3434.250000  3434.250000  ...      NaN              220
2024-11-25  3679.449951  3679.449951  ...      NaN              221
2024-11-26  3578.300049  3578.300049  ...      NaN              222

[222 rows x 8 columns]

In [89]:
column_names = data.columns

In [90]:
column_names

MultiIndex([(       'Adj Close', 'ANUP.NS'),
            (           'Close', 'ANUP.NS'),
            (            'High', 'ANUP.NS'),
            (             'Low', 'ANUP.NS'),
            (            'Open', 'ANUP.NS'),
            (          'Volume', 'ANUP.NS'),
            (        'purchase',        ''),
            ('number_of_stocks',        '')],
           names=['Price', 'Ticker'])

In [91]:
df=data['Price']

KeyError: 'Price'

In [77]:
df['purchase']=data['Low']
df['number_of_stocks']=range(1, len(data) + 1)

NameError: name 'df' is not defined

In [76]:
data

Price         Adj Close        Close  ... purchase number_of_stocks
Ticker          ANUP.NS      ANUP.NS  ...
Date                                  ...
2024-01-01  1345.895386  1349.625000  ...      NaN                1
2024-01-02  1330.163940  1333.849976  ...      NaN                2
2024-01-03  1350.657227  1354.400024  ...      NaN                3
2024-01-04  1350.931519  1354.675049  ...      NaN                4
2024-01-05  1350.482666  1354.224976  ...      NaN                5
...                 ...          ...  ...      ...              ...
2024-11-19  3413.850098  3413.850098  ...      NaN              218
2024-11-21  3488.350098  3488.350098  ...      NaN              219
2024-11-22  3434.250000  3434.250000  ...      NaN              220
2024-11-25  3679.449951  3679.449951  ...      NaN              221
2024-11-26  3578.300049  3578.300049  ...      NaN              222

[222 rows x 8 columns]